:root {
  --color-3: #6bbbc9;
  --color-4: #46a7bd;
  --color-5: #087ea4;
  --color-6: #087ea4;
  --color-7: #005a7d;
  --color-vue:#42b883;
  --vp-c-brand: var(--color-5);
  --vp-c-brand-light: var(--color-5);
  --vp-c-brand-dark: var(--color-4);
  --vp-c-brand-lighter: var(--color-5);
  --vp-c-brand-darker: var(--color-7);
  --vp-button-brand-hover-bg: var(--color-4);
  --vp-home-hero-name-color: var(--color-5);
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(90deg, rgba(66,184,131,1) 0%, rgba(8,126,164,1) 50%);
;
}
// https://lingdaima.com/jianbianse/